{% load i18n %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        {% block headed %}

            <ul>
              {% for lang in LANGUAGES %}
                <li>
                  <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                    <input type="hidden" name="language" value="{{ lang.0 }}">
                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();
                        return false;">{{ lang.1 }}</a>
                  </form>
                </li>
              {% endfor %}
            </ul>
            <h1>{% trans "Добро пожаловать" %}</h1>

        {% endblock headed %}


        {% block content %}{% endblock content %}

        </body>
</html>
