{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <ul>
        {% for post in object_list %}
           <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                <p>{% trans "Дата публикации" %} - {{ post.pub_date }}</p>
           </li>
        {% endfor %}
    </ul>

{% endblock content %}
