{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h1>{{ object.title }}</h1>
    <h1>{{ object.author }}</h1>
    <h1>{{ object.pub_date }}</h1>
    <div>
        {{ object.content }}
    </div>

{% endblock content %}
